<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/opt.css')}}" rel="stylesheet" >
  </head>
  <body>
    <form action="/opts" method="post">
        <div class="container">
        
          <label for="exampleInputEmail1" class="form-label">Enter the OTP sent on your mail</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="opt" aria-describedby="emailHelp" style="width: 100px; margin: 0 auto;">
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="mains"></div>
      </form>
   
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>